<a href="https://colab.research.google.com/github/Bearodriguez2022/PI_1.2/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import matplotlib as plt

INGIENERIA DE DATOS.

Ingesta de datos:

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
amazon = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/amazon_prime_titles.csv')

In [7]:
amazon['duration'].isna().sum()

0

In [ ]:
#pase todas a minusculas porque no me dejaa luego pasarla a int a duration_int
amazon = amazon.apply(lambda x: x.astype(str).str.lower() if x.dtype == 'object' else x)

La columna duration se divide en 'duration_int', 'duration_type':

In [8]:
amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', expand=True)

In [9]:
amazon['duration_int'].dtype

dtype('O')

Las nuevas columnas son de tipo 'objet', las cambio a 'int32' y 'str' respectivamente

In [10]:
amazon['duration_int'] = amazon['duration_int'].astype('int32')

In [11]:
amazon['duration_type'] = amazon['duration_type'].astype('str')

Repito los pasos de ingesta de datos, división de columna 'duration' y transformación de datos 'o' a 'int' y 'str' en cada uno de los archivos de plataformas

In [12]:
disney = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/disney_plus_titles.csv')

In [ ]:
disney.info()

In [13]:
disney[['duration_int', 'duration_type']] = disney['duration'].str.split(' ', expand=True)

In [14]:
disney['duration_int'] = disney['duration_int'].astype('int32')

In [15]:
disney['duration_type'] = disney['duration_type'].astype('str')

In [16]:
hulu = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/hulu_titles.csv')

In [ ]:
hulu.isna().sum()

In [ ]:
hulu.fillna(0)

In [18]:
hulu[['duration_int', 'duration_type']] =hulu['duration'].str.split(' ', expand=True)

In [19]:
hulu['duration_int'] = hulu['duration_int'].astype('Int32')

In [20]:
hulu['duration_type'] = hulu['duration_type'].astype('str')

In [21]:
netflix = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/netflix_titles.csv')

In [ ]:
netflix.info()

In [22]:
netflix['duration'] =netflix['duration'].dropna()

In [23]:
netflix[['duration_int', 'duration_type']] =netflix['duration'].str.split(' ', expand=True)

In [24]:
netflix['duration_int'] =netflix['duration_int'].fillna(0).astype('int32')

In [25]:
netflix['duration_type'] = netflix['duration_type'].astype('str')

Antes de concatenar los df concidero poner el nombre a cada plataforma para una mejor identificación

In [26]:
amazon['plataforma'] = 'amazon'
disney['plataforma'] = 'disney'
hulu['plataforma'] = 'hulu'
netflix['plataforma'] = 'netflix'

Consignas a cumplir:
*Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [27]:
amazon['NuevoId'] = 'a' + amazon['show_id']
disney['NuevoId'] = 'd' + disney['show_id']
hulu['NuevoId'] = 'h' + hulu['show_id']
netflix['NuevoId'] = 'n' + netflix['show_id']

In [ ]:
amazon.columns

Ahora concateno los df para poder trabajar con ellos de forma mas práctica

In [28]:
streaming = pd.concat([amazon, disney, hulu,netflix])

*Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”)

In [29]:
streaming['rating'] = streaming['rating'].fillna('G')

*De haber fechas, deberán tener el formato AAAA-mm-dd

In [30]:
streaming['date_added'] = pd.to_datetime(streaming['date_added'])

*Los campos de texto deberán estar en minúsculas, sin excepciones

In [31]:
streaming = streaming.apply(lambda x: x.astype(str).str.lower() if x.dtype == 'object' else x)

*El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas).Este paso lo realice en cada df por separado.

In [54]:
streaming.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'duration_int', 'duration_type', 'plataforma', 'NuevoId'],
      dtype='object')

In [33]:
#aca convierto a csv 
streaming.to_csv('datos.csv', sep=',', encoding='utf-8', index=False)

Aqui concateno rating

In [34]:
r_1 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/1.csv') 
r_2 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/2.csv')
r_3 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/3.csv')
r_4 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/4.csv')
r_5 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/5.csv')
r_6 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/6.csv')
r_7 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/7.csv')
r_8 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/8.csv')

In [ ]:
r_1.head()

In [48]:
score = pd.concat([r_1,r_2,r_3,r_4,r_5,r_6,r_7,r_8])

Aca convierto la columna timestamp a formato AAAA-mm-dd

In [37]:
score['timestamp'] = pd.to_datetime(score['timestamp'])

In [38]:
score.head(2)

   userId  rating                     timestamp movieId
0       1     1.0 1970-01-01 00:00:01.425941529   as680
1       1     4.5 1970-01-01 00:00:01.425942435  ns2186

In [40]:
# convertir la columna de timestamp a un objeto datetime
score['timestamp'] = pd.to_datetime(score['timestamp'])

# extraer solo la marca_temporal de la columna de timestamp
score['marca_temporal'] = score['timestamp'].dt.date

# convertir la marca_temporal de vuelta a una cadena de texto con el formato deseado
score['marca_temporal'] = score['marca_temporal'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [41]:
score.head(1)

,userId,rating,timestamp,movieId,fecha,marca_temporal
0,1,1.0,1970-01-01 00:00:01.425941529,as680,1970-01-01,1970-01-01

In [42]:
#considero no la voy a necesitar
score = score.drop(columns=['timestamp', 'fecha'])

In [49]:
score.head(2)

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186

saco promedio por id para que queden la misma cantidad de filas que en el df streaming

In [ ]:
prome = score.groupby('movieId')['rating'].mean()

prome

In [57]:
#aca verifico si los valores son correctos para concatenar, y el resultado es si
comparacion = score['movieId'].isin(streaming['NuevoId'])
comparacion.unique()

array([ True])

In [58]:
#unimos streaming y promedio por pelicula
df1 = pd.merge(streaming, prome, left_on='NuevoId', right_on='movieId', how='left')

In [59]:
df1.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating_x,duration,listed_in,description,duration_int,duration_type,plataforma,NuevoId,rating_y
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon,as1,3.467131
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon,as2,3.548682

In [60]:
df1.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating_x', 'duration', 'listed_in', 'description',
       'duration_int', 'duration_type', 'plataforma', 'NuevoId', 'rating_y'],
      dtype='object')

In [61]:
#aca renombro las columnas porque quiero esten en castellano solo deje las de duration
df1 = df1.rename(columns={'rating_x':'clasificacion','NuevoId':'nuevoid','rating_y':'puntuacion','type':'tipo','title':'titulo','cast':'elenco','country':'pais','date_added':'fecha_agregada','release_year':'año_realiacion','duration':'duracion','listed_in':'genero','description':'descripcion'})

In [62]:
df1.head(2)

,show_id,tipo,titulo,director,elenco,pais,fecha_agregada,año_realiacion,clasificacion,duracion,genero,descripcion,duration_int,duration_type,plataforma,nuevoid,puntuacion
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon,as1,3.467131
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon,as2,3.548682

In [63]:
df1.to_csv('df1.csv', sep=',', encoding='utf-8', index=False)

Desarrolo de la FASTAPI
  
  *Película (sólo película, no serie, etc) con mayor duración según año, plataforma y tipo de duración. La función debe llamarse get_max_duration(year, platform, duration_type) y debe devolver sólo el string del nombre de la película.

  primero cree las funciones en colab para probarlas y luego pasarlas a Fastapi.

In [68]:
def get_max_duration(year, platform, duration_type):
    # Filtramos las películas del año, plataforma y tipo de duración específicos
    filtered_df = df1[(df1['tipo'] == 'movie') & (df1['año_realiacion'] == year) & 
                            (df1['plataforma'] == platform) & (df1['duration_type'] == duration_type)]
    
    # Ordenamos por duración de mayor a menor y seleccionamos el primer título (el de mayor duración)
    max_duration_movie = filtered_df.sort_values(by='duration_int', ascending=False).iloc[0]['titulo']
    return max_duration_movie

In [84]:
get_max_duration(2012,'netflix','min')

'cloud atlas'

Cantidad de películas (sólo películas, no series, etc) según plataforma, con un puntaje mayor a XX en determinado año. La función debe llamarse get_score_count(platform, scored, year) y debe devolver un int, con el total de películas que cumplen lo solicitado.

In [70]:
def get_score_count(platform, scored, year):
    # filtrar las películas según plataforma, puntaje y año
    pelis_por_puntaje = df1[(df1["plataforma"] == platform) & (df1["puntuacion"] >= scored) & (df1["tipo"] == "movie") & (df1["año_realiacion"] == year)]
    
    # contar la cantidad de películas
    count = len(pelis_por_puntaje)
    
    return count

In [85]:
count = get_score_count("disney", 1.45, 2014)
print(count)

34

3)Cantidad de películas (sólo películas, no series, etc) según plataforma. La función debe llamarse get_count_platform(platform) y debe devolver un int, con el número total de películas de esa plataforma. Las plataformas deben llamarse amazon, netflix, hulu, disney.

In [72]:
def get_count_platform(platform):
    # Filtrar solo películas
    df_movies = df1.loc[df1['tipo'] == 'movie']

    # Filtrar por plataforma
    df_filtered = df_movies.query("plataforma == @platform")

    # Contar el número de películas resultantes
    count = len(df_filtered)

    return count

In [86]:
count = get_count_platform('hulu')
count

1484

4)Actor que más se repite según plataforma y año. La función debe llamarse get_actor(platform, year) y debe devolver sólo el string con el nombre del actor que más se repite según la plataforma y el año dado.

In [203]:
df1['elenco'].dropna(inplace=True)

In [218]:
df1['elenco'].isna().sum()

0

In [217]:
df1['elenco'].unique()

array(['brendan gleeson, taylor kitsch, gordon pinsent',
       'mahesh manjrekar, abhay mahajan, sachin khedekar',
       'tom sizemore, lorenzo lamas, robert lasardo, richard jones, yancey arias, noel gugliemi',
       ...,
       'jesse eisenberg, woody harrelson, emma stone, abigail breslin, amber heard, bill murray, derek graf',
       'tim allen, courteney cox, chevy chase, kate mara, ryan newman, michael cassidy, spencer breslin, rip torn, kevin zegers',
       'vicky kaushal, sarah-jane dias, raaghav chanana, manish chaudhary, meghna malik, malkeet rauni, anita shabdish, chittaranjan tripathy'],
      dtype=object)

In [76]:
def get_actor(platform, year):
  #filtro nulos 
  #filton = df1[(df1['plataforma'] == plataforma.lower()) & (df1[df1["año_realiacion"] == anio])& df1['elenco'].notna()]
    # filtrar por plataforma y año
    df_filtered = df1[(df1["plataforma"] == platform) & (df1["año_realiacion"] == year)]

    # contar la cantidad de veces que aparece cada actor
    actor_count = df_filtered["elenco"].str.split(", ", expand=True).stack().value_counts()

    # obtener el actor que más se repite
    actor_most_common = actor_count.idxmax()
    respuesta = actor_most_common
    return   respuesta

In [87]:
j = get_actor('netflix', 2005)
j

'esha deol'

In [82]:
def getactor(platform, year):
   
    # Filtrar las películas para la plataforma y año especificado
    df_filtered = df1[(df1['plataforma'] == platform) & (df1['año_realiacion'] == year)]
    #df_filtered = df1[(df1['plataforma'] == platform.lower()) & (df1[df1["año_realiacion"] == year])& df1['elenco'].notna()]    
    # Poner el cast en un array para poder hacer el recorrido
    df_elenco_filtered= df_filtered.assign(actor=df_filtered.elenco.str.split(',')).explode('elenco').notna()
    
    # Contar la cantidad de apariciones de cada actor
    actor_count = df_elenco_filtered.elenco.value_counts()
    
    # Obtener el actor que más se repite y su cantidad de apariciones
    max_actor = actor_count.index[0]
    max_count = int(actor_count.iloc[0])
    actor = dict({'actor': max_actor, 'count': max_count})

    return actor

In [88]:
g =  getactor('netflix', 2005)
g

{'actor': True, 'count': 80}

In [ ]:
df1['pais'].unique()

5)La cantidad de contenidos/productos (todo lo disponible en streaming) que se publicó por país y año. La función debe llamarse prod_per_county(tipo,pais,anio) deberia devolver la cantidada de contenidos/productos segun el tipo de contenido (pelicula,serie) por pais y año en un diccionario con las variables llamadas 'pais' (nombre del pais), 'anio' (año), 'pelicula' (cantidad de contenidos/productos).

In [90]:
def prod_per_country(tipo, pais, anio):
    # Filtrar el DataFrame
    df_filt = df1[(df1['tipo'] == tipo) & (df1['pais'] == pais) & (df1['año_realiacion'] == anio)]
    
    # Agrupar por país y año y contar la cantidad de filas
    count = df_filt.groupby(['pais', 'año_realiacion']).size().reset_index(name=f"{tipo}")
    
    # Crear un diccionario con los resultados
    result = count[['pais', 'año_realiacion', f"{tipo}"]].to_dict('records')
    
    return result

In [91]:
b= prod_per_country('tv show','france',2020)
b

[{'pais': 'france', 'año_realiacion': 2020, 'tv show': 8}]

6)La cantidad total de contenidos/productos (todo lo disponible en streaming, series, peliculas, etc) según el rating de audiencia dado (para que publico fue clasificada la pelicula). La función debe llamarse get_contents(rating) y debe devolver el numero total de contenido con ese rating de audiencias.

In [104]:
df1.columns

Index(['show_id', 'tipo', 'titulo', 'director', 'elenco', 'pais',
       'fecha_agregada', 'año_realiacion', 'clasificacion', 'duracion',
       'genero', 'descripcion', 'duration_int', 'duration_type', 'plataforma',
       'nuevoid', 'puntuacion'],
      dtype='object')

In [109]:
def get_contents(rating):
    # Obtener la cantidad de contenidos/productos por rating de audiencia
    count_by_rating = df1['clasificacion'].value_counts()
    
    # Obtener la cantidad correspondiente al rating especificado en la función
    count = count_by_rating[rating]
    
    return count

In [110]:
d = get_contents('18+')
d

1243