<a href="https://colab.research.google.com/github/Bearodriguez2022/PI_1.2/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib as plt

INGIENERIA DE DATOS.

Ingesta de datos:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
amazon = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/amazon_prime_titles.csv')

In [ ]:
amazon['duration'].isna().sum()

0

In [ ]:
#pase todas a minusculas porque no me dejaa luego pasarla a int a duration_int
amazon = amazon.apply(lambda x: x.astype(str).str.lower() if x.dtype == 'object' else x)

La columna duration se divide en 'duration_int', 'duration_type':

In [ ]:
amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', expand=True)

In [ ]:
amazon['duration_int'].dtype

dtype('O')

Las nuevas columnas son de tipo 'objet', las cambio a 'int32' y 'str' respectivamente

In [ ]:
amazon['duration_int'] = amazon['duration_int'].astype('int32')

In [ ]:
amazon['duration_type'] = amazon['duration_type'].astype('str')

Repito los pasos de ingesta de datos, división de columna 'duration' y transformación de datos 'o' a 'int' y 'str' en cada uno de los archivos de plataformas

In [ ]:
disney = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/disney_plus_titles.csv')

In [ ]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [ ]:
disney[['duration_int', 'duration_type']] = disney['duration'].str.split(' ', expand=True)

In [ ]:
disney['duration_int'] = disney['duration_int'].astype('int32')

In [ ]:
disney['duration_type'] = disney['duration_type'].astype('str')

In [ ]:
hulu = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/hulu_titles.csv')

In [ ]:
hulu.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [ ]:
hulu.fillna(0)

In [ ]:
hulu[['duration_int', 'duration_type']] =hulu['duration'].str.split(' ', expand=True)

In [ ]:
hulu['duration_int'] = hulu['duration_int'].astype('Int32')

In [ ]:
hulu['duration_type'] = hulu['duration_type'].astype('str')

In [ ]:
netflix = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/netflix_titles.csv')

In [ ]:
netflix.info()

In [ ]:
netflix['duration'] =netflix['duration'].dropna()

In [ ]:
netflix['duration'].isna().sum()

3

In [ ]:
netflix[['duration_int', 'duration_type']] =netflix['duration'].str.split(' ', expand=True)

In [ ]:
netflix['duration_int'] =netflix['duration_int'].fillna(0).astype('int32')

In [ ]:
netflix['duration_type'] = netflix['duration_type'].astype('str')

Antes de concatenar los df concidero poner el nombre a cada plataforma para una mejor identificación

In [ ]:
amazon['plataforma'] = 'amazon'
disney['plataforma'] = 'disney'
hulu['plataforma'] = 'hulu'
netflix['plataforma'] = 'netflix'

Consignas a cumplir:
*Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [ ]:
amazon['NuevoId'] = 'a' + amazon['show_id']
disney['NuevoId'] = 'd' + disney['show_id']
hulu['NuevoId'] = 'h' + hulu['show_id']
netflix['NuevoId'] = 'n' + netflix['show_id']

In [ ]:
amazon.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'duration_int', 'duration_type', 'plataforma', 'NuevoId'],
      dtype='object')

Ahora concateno los df para poder trabajar con ellos de forma mas práctica

In [ ]:
streaming = pd.concat([amazon, disney, hulu,netflix])

*Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”)

In [ ]:
streaming['rating'] = streaming['rating'].fillna('G')

*De haber fechas, deberán tener el formato AAAA-mm-dd

In [ ]:
streaming['date_added'] = pd.to_datetime(streaming['date_added'])

*Los campos de texto deberán estar en minúsculas, sin excepciones

In [ ]:
streaming = streaming.apply(lambda x: x.astype(str).str.lower() if x.dtype == 'object' else x)

*El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas).Este paso lo realice en cada df por separado.

In [ ]:
streaming.shape

(22998, 16)

Aqui concateno rating

In [ ]:
r_1 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/1.csv') 
r_2 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/2.csv')
r_3 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/3.csv')
r_4 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/4.csv')
r_5 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/5.csv')
r_6 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/6.csv')
r_7 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/7.csv')
r_8 = pd.read_csv('/content/drive/MyDrive/PI_1.2/Data1.2/ratings/8.csv')

In [ ]:
r_1.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [ ]:
#cambiar los nombres en el resto
score = pd.concat([r_1,r_2,r_3,r_4,r_5,r_6,r_7,r_8])

Aca convierto la columna timestamp a formato AAAA-mm-dd

In [ ]:
score['timestamp'] = pd.to_datetime(score['timestamp'])

In [ ]:
score.head(2)

   userId  rating                     timestamp movieId
0       1     1.0 1970-01-01 00:00:01.425941529   as680
1       1     4.5 1970-01-01 00:00:01.425942435  ns2186

In [ ]:
# convertir la columna de timestamp a un objeto datetime
score['timestamp'] = pd.to_datetime(score['timestamp'])

# extraer solo la fecha de la columna de timestamp
score['fecha'] = score['timestamp'].dt.date

# convertir la fecha de vuelta a una cadena de texto con el formato deseado
score['fecha'] = score['fecha'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [ ]:
score.head(1)

   userId  rating                     timestamp movieId       fecha
0       1     1.0 1970-01-01 00:00:01.425941529   as680  1970-01-01

In [ ]:
#considero no la voy a necesitar
score = score.drop(columns=['timestamp'])

In [ ]:
score.head(2)

   userId  rating movieId       fecha
0       1     1.0   as680  1970-01-01
1       1     4.5  ns2186  1970-01-01

saco promedio por id para que queden la misma cantidad de filas que en streming

In [ ]:
#agrupamos y sacamos el promedio de los scores por id
promedio = score.groupby('movieId').mean()

<ipython-input-46-f1187b3f2f1c>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  promedio = score.groupby('movieId').mean()

In [ ]:
promedio

               userId    rating
movieId
as1      99178.623506  3.467131
as10     92915.883041  3.439571
as100    83483.262791  3.609302
as1000   90606.197938  3.556701
as1001   92349.085288  3.585288
...               ...       ...
ns995    86366.176339  3.515625
ns996    94741.060729  3.626518
ns997    86417.856842  3.530526
ns998    94409.502066  3.582645
ns999    90685.066806  3.494781

[22998 rows x 2 columns]

In [ ]:
#unimos mvies y promedio por el id
df1 = pd.merge(streaming, promedio, left_on='NuevoId', right_on='movieId', how='left')

In [ ]:
df1.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating_x,duration,listed_in,description,duration_int,duration_type,plataforma,NuevoId,userId,rating_y
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min,amazon,as1,99178.623506,3.467131
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min,amazon,as2,93837.476673,3.548682

In [ ]:
#borre esta columna porque considero no es iportante para el analisis
df1 = df1.drop(columns=['userId'])

In [ ]:
#aca renombro las columnas porque quiero esten en castellano
df1 = df1.rename(columns={'rating_x':'clasificacion','NuevoId':'nuevoid','rating_y':'puntuacion','type':'tipo','title':'titulo','cast':'elenco','country':'pais','date_added':'fecha_agregada','release_year':'año_realiacion','duration':'duracion','listed_in':'genero','description':'descripcion'})

In [ ]:
df1.head(2)

In [ ]:
df1.to_csv('df1.csv', sep=',', encoding='utf-8', index=False)

In [ ]:
#aqui converti streaming en archivo csv para poder trabajarlo en la api
streaming.to_csv('datos.csv', sep=',', encoding='utf-8', index=False)

Desarrolo de la FASTAPI
  
  *Película (sólo película, no serie, etc) con mayor duración según año, plataforma y tipo de duración. La función debe llamarse get_max_duration(year, platform, duration_type) y debe devolver sólo el string del nombre de la película.

In [ ]:
streaming.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'duration_int', 'duration_type', 'plataforma', 'NuevoId'],
      dtype='object')

In [ ]:
streaming['duration_type'].unique()

array(['min', 'season', 'seasons', 'nan'], dtype=object)

In [ ]:
filtro_striming = streaming.copy()

In [ ]:
streaming['duration_type'].unique()

array(['min', 'season', 'seasons', 'nan'], dtype=object)

In [ ]:
#codigo gpt
def get_max_duration(year, platform, duration_type):
    # Filtramos las películas del año, plataforma y tipo de duración específicos
    filtered_df = streaming[(streaming['type'] == 'movie') & (streaming['release_year'] == year) & 
                            (streaming['plataforma'] == platform) & (streaming['duration_type'] == duration_type)]
    
    # Ordenamos por duración de mayor a menor y seleccionamos el primer título (el de mayor duración)
    max_duration_movie = filtered_df.sort_values(by='duration_int', ascending=False).iloc[0]['title']
    return max_duration_movie

In [ ]:
get_max_duration(2020,'amazon','min')

'night sky with nature sounds with 432hz nature sound track for sleep'

Cantidad de películas (sólo películas, no series, etc) según plataforma, con un puntaje mayor a XX en determinado año. La función debe llamarse get_score_count(platform, scored, year) y debe devolver un int, con el total de películas que cumplen lo solicitado.

In [ ]:
streaming["rating"]

In [ ]:
df1.columns

Index(['show_id', 'tipo', 'titulo', 'director', 'elenco', 'pais',
       'fecha_agregada', 'año_realiacion', 'clasificacion', 'duracion',
       'genero', 'descripcion', 'duration_int', 'duration_type', 'plataforma',
       'nuevoid', 'puntuacion'],
      dtype='object')

In [ ]:
df1.head()

In [ ]:
df1['tipo'].unique()

array(['movie', 'tv show'], dtype=object)

In [ ]:
def get_score_count(platform, scored, year):
    # filtrar las películas según plataforma, puntaje y año
    pelis_por_puntaje = df1[(df1["plataforma"] == platform) & (df1["puntuacion"] >= scored) & (df1["tipo"] == "movie") & (df1["año_realiacion"] == year)]
    
    # contar la cantidad de películas
    count = len(pelis_por_puntaje)
    
    return count

In [ ]:
count = get_score_count("amazon", 3.0, 2020)
print(count)

736

3)Cantidad de películas (sólo películas, no series, etc) según plataforma. La función debe llamarse get_count_platform(platform) y debe devolver un int, con el número total de películas de esa plataforma. Las plataformas deben llamarse amazon, netflix, hulu, disney.

In [ ]:
def get_count_platform(platform):
    # Filtrar solo películas
    df_movies = df1.loc[df1['tipo'] == 'movie']

    # Filtrar por plataforma
    df_filtered = df_movies.query("plataforma == @platform")

    # Contar el número de películas resultantes
    count = len(df_filtered)

    return count

In [ ]:
count = get_count_platform('netflix')
count

6131

In [ ]:
#de Pochito, NO me funciona
def get_count_platform(platform):
    # Controlamos que la plataforma ingresada sea correcta
    #platform = platform.lower()

    platforms = ["amazon", "disney", "hulu", "netflix"]
    if platform not in platforms:
        return ("Plataforma incorrecta! Debe ingresar una de las siguientes: amazon, disney, hulu, netflix")
    
    # Filtrar las películas para la plataforma especificada
    df_filtered_movies = df1[(df1.platform == platform)] # & (df.type == 'movie')] Segun sli.do no hay que filtrar por movies

    # Agrupar por plataforma y contar el número de filas resultantes
    count = df_filtered_movies.groupby('platform').size()
    
    # Verificar que hay al menos una película que cumpla con los filtros
    if df_filtered_movies.empty:
        return("No hay peliculas para esa plataforma")
    return count.to_dict()

In [ ]:
f = get_count_platform(amazon)
f

4)Actor que más se repite según plataforma y año. La función debe llamarse get_actor(platform, year) y debe devolver sólo el string con el nombre del actor que más se repite según la plataforma y el año dado.

In [203]:
df1['elenco'].dropna(inplace=True)

In [218]:
df1['elenco'].isna().sum()

0

In [217]:
df1['elenco'].unique()

array(['brendan gleeson, taylor kitsch, gordon pinsent',
       'mahesh manjrekar, abhay mahajan, sachin khedekar',
       'tom sizemore, lorenzo lamas, robert lasardo, richard jones, yancey arias, noel gugliemi',
       ...,
       'jesse eisenberg, woody harrelson, emma stone, abigail breslin, amber heard, bill murray, derek graf',
       'tim allen, courteney cox, chevy chase, kate mara, ryan newman, michael cassidy, spencer breslin, rip torn, kevin zegers',
       'vicky kaushal, sarah-jane dias, raaghav chanana, manish chaudhary, meghna malik, malkeet rauni, anita shabdish, chittaranjan tripathy'],
      dtype=object)

In [204]:
def get_actor(platform, year):
    # leer el archivo df1.csv en un DataFrame
    

    # filtrar por plataforma y año
    df_filtered = df1[(df1["plataforma"] == platform) & (df1["año_realiacion"] == year)]

    # contar la cantidad de veces que aparece cada actor
    actor_count = df_filtered["elenco"].str.split(", ", expand=True).stack().value_counts()

    # obtener el actor que más se repite
    actor_most_common = actor_count.idxmax()

    return   actor_most_common

In [219]:
j = get_actor('disney', 2021)
j

AttributeError: ignored

In [222]:
def getactor(platform, year):
   
    # Filtrar las películas para la plataforma y año especificado
    df_filtered = df1[(df1['plataforma'] == platform) & (df1['año_realiacion'] == year)]
         
    # Poner el cast en un array para poder hacer el recorrido
    df_elenco_filtered= df_filtered.assign(actor=df_filtered.elenco.str.split(',')).explode('elenco')
    
    # Contar la cantidad de apariciones de cada actor
    actor_count = df_elenco_filtered.elenco.value_counts()
    
    # Obtener el actor que más se repite y su cantidad de apariciones
    max_actor = actor_count.index[0]
    max_count = int(actor_count.iloc[0])
    actor = dict({'actor': max_actor, 'count': max_count})

    return actor

In [223]:
g =  getactor('amazon', 2018)
g

{'actor': 'nan', 'count': 83}

In [ ]:
df1['pais'].unique()

5)La cantidad de contenidos/productos (todo lo disponible en streaming) que se publicó por país y año. La función debe llamarse prod_per_county(tipo,pais,anio) deberia devolver la cantidada de contenidos/productos segun el tipo de contenido (pelicula,serie) por pais y año en un diccionario con las variables llamadas 'pais' (nombre del pais), 'anio' (año), 'pelicula' (cantidad de contenidos/productos).

In [225]:
def prod_per_country(tipo, pais, anio):
    # Filtrar el DataFrame
    df_filt = df1[(df1['tipo'] == tipo) & (df1['pais'] == pais) & (df1['año_realiacion'] == anio)]
    
    # Agrupar por país y año y contar la cantidad de filas
    count = df_filt.groupby(['pais', 'año_realiacion']).size().reset_index(name=f"{tipo}")
    
    # Crear un diccionario con los resultados
    result = count[['pais', 'año_realiacion', f"{tipo}"]].to_dict('records')
    
    return result

In [228]:
b= prod_per_country('movie','canada',2020)
b

[{'pais': 'canada', 'año_realiacion': 2020, 'movie': 18}]

6)La cantidad total de contenidos/productos (todo lo disponible en streaming, series, peliculas, etc) según el rating de audiencia dado (para que publico fue clasificada la pelicula). La función debe llamarse get_contents(rating) y debe devolver el numero total de contenido con ese rating de audiencias.

In [233]:
def get_contents(rating, score):
    # Obtener la cantidad de contenidos/productos por rating de audiencia
    count_by_rating = df1['clasificacion'].value_counts()
    
    # Obtener la cantidad correspondiente al rating especificado en la función
    count = count_by_rating[rating]
    
    return count

In [234]:
d = get_contents(2)
d

2154